:root {
    --my-white: #e2e9ee;
    --just-white: #ffffff;

    --dark-grey: #383a3b;
    --medium-grey: #5e6264;
    --light-grey: #8f9294;

    --deep-black: #00030a;
    --bright-black: #020101;

    /* --logo-fonts: 'GothamProLight', Verdana, sans-serif; */
}